<div class="flex p-2">
  <div>
    <input
      pInputText
      type="text"
      [(ngModel)]="searchQuery"
      placeholder="Search..."
      (input)="performSearch()"
      class="p-2"
    />
    <button class="pl-2" (click)="clearSearch()">Clear</button>
  </div>
  <div class="ml-auto">
    <button
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold rounded border p-2"
      (onClick)="addUser()"
    >
      Add Customer
    </button>
  </div>
</div>
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
  <!-- Repeat this div block for each customer -->
  @for (user of users; track $index) {
  <div class="bg-white rounded-lg shadow-md p-4">
    <div class="flex">
      <div>
        <span class="text-red-500 pr-2">{{ user.CustomerId }}</span>
        <span class="text-lg font-semibold mb-2">{{ user.Name }}</span>
      </div>
      <div class="ml-auto">
        <span class="pr-2">{{ user.Mobile }}</span>
        <i
          class="fa-solid fa-user-pen cursor-pointer"
          (click)="editCustomer(user)"
        ></i>
      </div>
    </div>
    <div class="flex">
      @if (user.DepositAmount) {
      <div class="pr-2">&#8377;{{ user.DepositAmount }}</div>
      } @else {
      <div class="pr-2">No Deposit</div>
      } @if (user.KmDistance) {
      <div class="pr-2">{{ user.KmDistance }}km</div>
      } @else {
      <div class="pr-2">No Distance</div>
      } @if (user.Location) {
      <div class="pr-2">{{ user.Location }}</div>
      } @else {
      <div class="pr-2">No Location</div>
      } @if(user.RegisteredDay) {
      <div class="ml-auto">Order Day: {{ user.RegisteredDay }}</div>
      } @else {
      <div class="ml-auto">No Order Day</div>
      }
    </div>
    <div class="flex">
      <div>
        {{ user.Address }}
      </div>
      @if (user.RewardsCount) {
      <div class="ml-auto">{{ user.RewardsCount }} coins</div>
      } @else {
      <div class="ml-auto">No Coins</div>
      }
    </div>
    <div class="flex justify-between">
      @if (user.ValidDate) {
      <div class="pr-4">Valid: {{ user.ValidDate }}</div>
      }
      <div class="text-blue-300 underline">
        <a target="_blank" href="{{ user.Maps_Link }}">Maps Location</a>
      </div>
      <div class="ml-auto">
        <p class="text-green-500">Active</p>
      </div>
    </div>
  </div>
  }
</div>
