<div class="container">
  <h1 class="text-2xl font-bold mb-4">Our Orders</h1>
  <div>
    <!-- <p-timeline [value]="events" layout="horizontal" align="top">
      <ng-template pTemplate="content" let-event>
        {{ event }}
      </ng-template>
    </p-timeline> -->
  </div>
  <div class="flex border-b mb-4 overflow-x-auto whitespace-nowrap">
    <button
      class="px-4 py-2 -mb-px font-semibold text-gray-800 border-b-2"
      [ngClass]="{
        'border-blue-500': orderService.selectedTab === 'placed',
        'border-transparent': orderService.selectedTab !== 'placed'
      }"
      (click)="selectTab('placed')"
    >
      Placed
    </button>
    <button
      class="px-4 py-2 -mb-px font-semibold text-gray-800 border-b-2"
      [ngClass]="{
        'border-blue-500': orderService.selectedTab === 'accepted',
        'border-transparent': orderService.selectedTab !== 'accepted'
      }"
      (click)="selectTab('accepted')"
    >
      Accepted
    </button>
    <button
      class="px-4 py-2 -mb-px font-semibold text-gray-800 border-b-2"
      [ngClass]="{
        'border-blue-500': orderService.selectedTab === 'packed',
        'border-transparent': orderService.selectedTab !== 'packed'
      }"
      (click)="selectTab('packed')"
    >
      Packed
    </button>
    <button
      class="px-4 py-2 -mb-px font-semibold text-gray-800 border-b-2"
      [ngClass]="{
        'border-blue-500': orderService.selectedTab === 'ontheway',
        'border-transparent': orderService.selectedTab !== 'ontheway'
      }"
      (click)="selectTab('ontheway')"
    >
      On The Way
    </button>
    <button
      class="px-4 py-2 -mb-px font-semibold text-gray-800 border-b-2"
      [ngClass]="{
        'border-blue-500': orderService.selectedTab === 'delivered',
        'border-transparent': orderService.selectedTab !== 'delivered'
      }"
      (click)="selectTab('delivered')"
    >
      Delivered
    </button>
    <button
      class="px-4 py-2 -mb-px font-semibold text-gray-800 border-b-2"
      [ngClass]="{
        'border-blue-500': orderService.selectedTab === 'returnTime',
        'border-transparent': orderService.selectedTab !== 'returnTime'
      }"
      (click)="selectTab('returnTime')"
    >
      Ready for return
    </button>
    <button
      class="px-4 py-2 -mb-px font-semibold text-gray-800 border-b-2"
      [ngClass]="{
        'border-blue-500': orderService.selectedTab === 'returned',
        'border-transparent': orderService.selectedTab !== 'returned'
      }"
      (click)="selectTab('returned')"
    >
      Returned
    </button>
    <button
      class="px-4 py-2 -mb-px font-semibold text-gray-800 border-b-2"
      [ngClass]="{
        'border-blue-500': orderService.selectedTab === 'toyCheck',
        'border-transparent': orderService.selectedTab !== 'toyCheck'
      }"
      (click)="selectTab('toyCheck')"
    >
      Toy Check
    </button>
    <button
      class="px-4 py-2 -mb-px font-semibold text-gray-800 border-b-2"
      [ngClass]="{
        'border-blue-500': orderService.selectedTab === 'closed',
        'border-transparent': orderService.selectedTab !== 'closed'
      }"
      (click)="selectTab('closed')"
    >
      Closed
    </button>
    <button
      class="px-4 py-2 -mb-px font-semibold text-gray-800 border-b-2"
      [ngClass]="{
        'border-blue-500': orderService.selectedTab === 'all',
        'border-transparent': orderService.selectedTab !== 'all'
      }"
      (click)="selectTab('all')"
    >
      All Orders
    </button>
  </div>
  <div>
    <p>Orders Count: {{ orders.length }}</p>
    @for (order of orders; track order) {
    <div class="bg-white shadow-md p-4 rounded-lg my-2">
      <div>
        <div class="flex">
          <div class="px-1 font-semibold border rounded">
            <span class="text-red-500">{{ order.customerId }}</span>
          </div>
          <div class="px-1 font-semibold border rounded">
            <span class="text-yellow-500">{{ order.storeId }}</span>
          </div>
        </div>
        <div class="flex">
          <div class="text-md font-bold mb-2 px-2">
            Order #{{ order.orderId }}
          </div>
          <div class="px-2">{{ order.Status }}</div>
        </div>
        <div class="flex">
          <div class="px-2">
            @if (order.Status !== 'Closed') {
            <button
              class="border rounded-md p-2 px-4 font-semibold transition-colors duration-200"
              [ngClass]="{
                'bg-blue-500 text-white hover:bg-blue-600':
                  order.Status === 'Placed',
                'bg-green-500 text-white hover:bg-green-600':
                  order.Status === 'Accepted',
                'bg-yellow-500 text-white hover:bg-yellow-600':
                  order.Status === 'Packed',
                'bg-purple-500 text-white hover:bg-purple-600':
                  order.Status === 'Ready for delivery',
                'bg-indigo-500 text-white hover:bg-indigo-600':
                  order.Status === 'OnTheWay',
                'bg-pink-500 text-white hover:bg-pink-600':
                  order.Status === 'Delivered',
                'bg-red-500 text-white hover:bg-red-600':
                  order.Status === 'ReturnTime',
                'bg-gray-500 text-white hover:bg-gray-600':
                  order.Status === 'Returned',
                'bg-teal-500 text-white hover:bg-teal-600':
                  order.Status === 'ToyChecked'
              }"
              (click)="setStatus(order)"
            >
              @if (order.Status === 'Placed') {
              <span class="text-white">Accept</span>
              } @if(order.Status === 'Accepted') {
              <span class="text-white">Pack</span>
              } @if(order.Status === 'Packed') {
              <span class="text-white">Ready for delivery</span>
              } @if(order.Status === 'OnTheWay'){
              <span class="text-white">Delivered</span>
              } @if(order.Status === 'Delivered'){
              <span class="text-white">Time for return</span>
              } @if(order.Status === 'ReturnTime') {
              <span class="text-white">Returned</span>
              } @if(order.Status === 'Returned') {
              <span class="text-white">Toy Check</span>
              } @if(order.Status === 'ToyChecked') {
              <span class="text-white">Close</span>
              }
            </button>

            }
          </div>
          <div class="ml-auto">
            @if (!order.expanded) {
            <i
              class="fa-solid fa-arrow-turn-down"
              (click)="order.expanded = !order.expanded"
            >
            </i>
            } @else() {
            <i
              class="fa-solid fa-arrow-turn-up"
              (click)="order.expanded = !order.expanded"
            >
            </i>
            }
          </div>
        </div>
        <h2>Order Date: {{ order.orderDate }}</h2>
        <h2>Order Amount: &#8377;{{ order.orderTotal }}</h2>
      </div>
      @if(order.expanded) {
      <div>
        <div class="flex flex-col md:flex-row">
          <div class="w-full md:w-9/12">
            <!-- Grid with responsive column configuration -->
            <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
              <div
                class="w-full"
                *ngFor="let product of order.products; let first = first"
              >
                <div
                  class="flex flex-col md:flex-row md:items-start p-4 gap-4 border-t-0 md:border-t-1 border-surface-border"
                  [ngClass]="{ 'border-t md:border-t-1': !first }"
                >
                  <div
                    class="w-full md:w-1/6 flex justify-center md:justify-start"
                  >
                    <img
                      class="shadow-md mx-auto md:mx-0 border-round w-24 h-24 md:w-auto md:h-auto"
                      [src]="
                        'https://skipcry.s3.eu-north-1.amazonaws.com/images/' +
                        product.product.Code +
                        '.jpg'
                      "
                      [alt]="product.product.Name"
                    />
                  </div>
                  <div
                    class="w-full md:w-3/6 flex flex-col md:flex-row justify-between"
                  >
                    <div
                      class="text-lg md:text-l font-semibold text-900 text-center md:text-left"
                    >
                      {{ product.product.Name }}
                    </div>
                    <div
                      class="text-lg md:text-xl font-semibold text-center md:text-right mt-2 md:mt-0"
                    >
                      &#8377;{{ product.rentedAmount }}
                    </div>
                    <div
                      class="text-lg md:text-xl font-semibold text-center md:text-right mt-2 md:mt-0"
                    >
                      {{ product.product.prefQtyCode }}
                    </div>
                  </div>
                  <div class="w-full md:w-2/6 text-center md:text-left">
                    <div>{{ product.rentedDays }} /</div>
                    <div>{{ product.return }}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      }
    </div>
    }
  </div>
</div>
