<div class="container">
  <h1 class="text-2xl font-bold mb-4">Our Orders</h1>
  <div>
    <!-- <p-timeline [value]="events" layout="horizontal" align="top">
      <ng-template pTemplate="content" let-event>
        {{ event }}
      </ng-template>
    </p-timeline> -->
  </div>
  <div class="flex border-b mb-4">
    <button
      class="px-4 py-2 -mb-px font-semibold text-gray-800 border-b-2"
      [ngClass]="{
        'border-blue-500': orderService.selectedTab === 'placed',
        'border-transparent': orderService.selectedTab !== 'placed'
      }"
      (click)="selectTab('placed')"
    >
      Placed
    </button>
    <button
      class="px-4 py-2 -mb-px font-semibold text-gray-800 border-b-2"
      [ngClass]="{
        'border-blue-500': orderService.selectedTab === 'accepted',
        'border-transparent': orderService.selectedTab !== 'accepted'
      }"
      (click)="selectTab('accepted')"
    >
      Accepted
    </button>
    <button
      class="px-4 py-2 -mb-px font-semibold text-gray-800 border-b-2"
      [ngClass]="{
        'border-blue-500': orderService.selectedTab === 'packed',
        'border-transparent': orderService.selectedTab !== 'packed'
      }"
      (click)="selectTab('packed')"
    >
      Packed
    </button>
    <button
      class="px-4 py-2 -mb-px font-semibold text-gray-800 border-b-2"
      [ngClass]="{
        'border-blue-500': orderService.selectedTab === 'ontheway',
        'border-transparent': orderService.selectedTab !== 'ontheway'
      }"
      (click)="selectTab('ontheway')"
    >
      On The Way
    </button>
    <button
      class="px-4 py-2 -mb-px font-semibold text-gray-800 border-b-2"
      [ngClass]="{
        'border-blue-500': orderService.selectedTab === 'delivered',
        'border-transparent': orderService.selectedTab !== 'delivered'
      }"
      (click)="selectTab('delivered')"
    >
      Delivered
    </button>
    <button
      class="px-4 py-2 -mb-px font-semibold text-gray-800 border-b-2"
      [ngClass]="{
        'border-blue-500': orderService.selectedTab === 'returnTime',
        'border-transparent': orderService.selectedTab !== 'returnTime'
      }"
      (click)="selectTab('returnTime')"
    >
      Ready for return
    </button>
    <button
    class="px-4 py-2 -mb-px font-semibold text-gray-800 border-b-2"
    [ngClass]="{
      'border-blue-500': orderService.selectedTab === 'returned',
      'border-transparent': orderService.selectedTab !== 'returned'
    }"
    (click)="selectTab('returned')"
  >
    Returned
  </button>
    <button
      class="px-4 py-2 -mb-px font-semibold text-gray-800 border-b-2"
      [ngClass]="{
        'border-blue-500': orderService.selectedTab === 'toyCheck',
        'border-transparent': orderService.selectedTab !== 'toyCheck'
      }"
      (click)="selectTab('toyCheck')"
    >
      Toy Check
    </button>
    <button
      class="px-4 py-2 -mb-px font-semibold text-gray-800 border-b-2"
      [ngClass]="{
        'border-blue-500': orderService.selectedTab === 'closed',
        'border-transparent': orderService.selectedTab !== 'closed'
      }"
      (click)="selectTab('closed')"
    >
      Closed
    </button>
    <button
      class="px-4 py-2 -mb-px font-semibold text-gray-800 border-b-2"
      [ngClass]="{
        'border-blue-500': orderService.selectedTab === 'all',
        'border-transparent': orderService.selectedTab !== 'all'
      }"
      (click)="selectTab('all')"
    >
      All Orders
    </button>
  </div>
  <div>
    <p>Orders Count: {{ orders.length }}</p>
    @for (order of orders; track order) {
    <div class="bg-white shadow-md p-4 rounded-lg my-2">
      <div>
        <div class="flex">
          <div class="px-2 font-semibold border rounded">
            <span class="text-red-500">{{ order.customerId }}</span>
          </div>
          <div class="px-2 font-semibold border rounded">
            <span class="text-yellow-500">{{ order.storeId }}</span>
          </div>
          <div class="text-md font-bold mb-2 px-2">Order #{{ order.orderId }}</div>
          <div class="px-2">{{ order.Status }}</div>
          <div class="px-2">
            @if (order.Status !== 'Closed') {
            <p-button class="border p-2" (onClick)="setStatus(order)">
              @if (order.Status === 'Placed') { Accept } @if (order.Status ===
              'Accepted') { Pack } @if (order.Status === 'Packed') { Ready for
              delivery } @if (order.Status === 'OnTheWay') { Delivered } @if
              (order.Status === 'Delivered') { Time for return } @if
              (order.Status === 'ReturnTime') { Returned } @if (order.Status ===
              'Returned') { Toy Check } @if (order.Status === 'ToyChecked') {
              Close }
            </p-button>
            }
          </div>
          <div class="ml-auto">
            @if (!order.expanded) {
            <p-button
              icon="pi pi-angle-down"
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold rounded"
              (onClick)="order.expanded = !order.expanded"
            ></p-button>
            } @else() {
            <p-button
              icon="pi pi-angle-up"
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold rounded"
              (onClick)="order.expanded = !order.expanded"
            >
            </p-button>
            }
          </div>
        </div>
        <h2>Order Date: {{ order.orderDate }}</h2>
        <h2>Order Amount: &#8377;{{ order.amountToPay }}</h2>
      </div>
      @if(order.expanded) {
      <div>
        <div class="flex">
          <div class="w-9/12">
            <p-dataView [value]="order.products" [rows]="30" [layout]="layout">
              <ng-template pTemplate="list" let-product>
                <div class="grid grid-nogutter">
                  <div
                    class="col-12"
                    *ngFor="let product of order.products; let first = first"
                  >
                    <div
                      class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4"
                      [ngClass]="{ 'border-top-1 surface-border': !first }"
                    >
                      <div class="w-1/6">
                        <img
                          class="shadow-2 block xl:block mx-auto border-round"
                          [src]="
                            'https://toyimages.s3.ap-southeast-2.amazonaws.com/' +
                            product.product.Code +
                            '.jpg'
                          "
                          [alt]="product.product.Name"
                        />
                      </div>
                      <div
                        class="w-3/6 flex flex-column sm:flex-row justify-between"
                      >
                        <div class="text-xl font-bold text-900">
                          {{ product.product.Name }}
                        </div>
                        <div class="text-xl font-semibold">
                          &#8377;{{ product.rentedAmount }}
                        </div>
                      </div>
                      <div class="w-2/6">
                        <div>Rented for {{ product.rentedDays }}</div>
                        <div>Return by {{ product.return }}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </p-dataView>
          </div>
        </div>
      </div>
      }
    </div>
    }
  </div>
</div>
