<h1 class="text-center text-green-500">Quantity Tracker</h1>
<!-- <button (click)="drawer.toggle()">Open Form</button> -->
<!-- <mat-sidenav-container class="quantity-container"> -->
<div>
  <div class="text-center mb-4">
    <button
      (click)="createNewQuantity()"
      class="bg-blue-500 text-white rounded-md p-2"
    >
      Create New Quantity
    </button>
  </div>
  <div class="p-4">
    <div
      *ngFor="let productQty of productQtys | slice : 0 : 10"
      class="mb-4 p-4 bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow"
    >
      <div class="mb-2">
        <h2 class="text-lg font-bold flex justify-between items-center">
          Product Name
          <i
            class="fa fa-edit cursor-pointer text-blue-500 hover:text-blue-600"
            (click)="editProductQty(productQty)"
          ></i>
        </h2>
      </div>
      <div class="text-gray-700">
        <p><strong>Quantity Code:</strong> {{ productQty.QtyCode }}</p>
        <p>
          <strong>Date Added:</strong>
          {{ productQty.DateAdded | date : "medium" }}
        </p>
        <p><strong>Earned:</strong> {{ productQty.Earned }}</p>
        <p><strong>Remarks:</strong> {{ productQty.Remarks }}</p>
        <p><strong>Rented Times:</strong> {{ productQty.RentedTimes }}</p>
        <p><strong>Product Code:</strong> {{ product.Code }}</p>
        <p>
          <strong>Next Available:</strong>
          {{ productQty.NextAvailable | date : "medium" }}
        </p>
        <p><strong>Store ID:</strong> {{ product.StoreId }}</p>
      </div>
    </div>
    @if (isDialogOpen) {
    <div class="fixed inset-0 flex z-50" [class.hidden]="!isDialogOpen">
      <div class="fixed inset-0 bg-white">
        <app-product-quantity-dialog
          [productQuantity]="productQuantity"
          (close)="closeDialog()"
        ></app-product-quantity-dialog>
      </div>
    </div>

    }
  </div>
</div>
<!-- </mat-sidenav-container> -->
