@if(productAdded) { Product {{ editMode ? "Updated" : "Added" }} Successfully! }
<div class="text-gray-700 font-semibold">
  {{ product?.StoreId }}
</div>
<div class="flex flex-col md:flex-row">
  <div class="p-4 w-full md:w-1/3">
    <img
      [src]="
        'https://skipcry.s3.eu-north-1.amazonaws.com/images/' + code + '.jpg'
      "
      alt="Item Image"
      class="w-full h-60 object-cover rounded-md shadow-md"
    />
  </div>
  <div class="p-4 w-full md:w-2/3">
    <div class="flex flex-col md:flex-row p-4">
      <div class="p-2 w-full md:w-1/2">
        <label for="name" class="block text-gray-700 font-bold mb-2"
          >Name:</label
        >
        <input
          type="text"
          id="name"
          [(ngModel)]="name"
          class="border w-full px-4 py-2 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
        />
      </div>
      <div class="p-2 w-full md:w-1/2">
        <label for="code" class="block text-gray-700 font-bold mb-2"
          >Code:</label
        >
        <input
          type="text"
          id="code"
          [(ngModel)]="code"
          class="border w-full px-4 py-2 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
        />
      </div>
    </div>
    <div class="flex flex-col md:flex-row p-4">
      <div class="p-2 w-full md:w-1/2">
        <label for="description" class="block text-gray-700 font-bold mb-2"
          >Description:</label
        >
        <textarea
          rows="5"
          cols="30"
          [(ngModel)]="description"
          class="border w-full px-4 py-2 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
        ></textarea>
      </div>
      <div class="p-2 w-full md:w-1/2">
        <div class="p-1">
          Search Key:
          <textarea
            rows="5"
            cols="30"
            pInputTextarea
            [(ngModel)]="searchKey"
            class="border border-gray-300 rounded-md p-2 w-full"
          ></textarea>
        </div>
        <div class="mt-2">
          <button
            class="p-2 bg-blue-500 text-white rounded-md"
            (click)="generateSearchKey()"
          >
            Generate
          </button>
        </div>
      </div>
    </div>
    <div class="flex flex-col md:flex-row p-4">
      <div class="mb-4 w-full">
        <label for="selectOption" class="block text-gray-700 font-bold mb-2"
          >Select Category: {{ category }}</label
        >
        <select
          id="selectOption"
          class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
          [(ngModel)]="category"
          (ngModelChange)="selectCategory(category)"
        >
          @for (category of categories; track $index) {
          <option [value]="category.code">
            {{ category.name }}
          </option>
          }
        </select>
      </div>
    </div>
    <div class="flex flex-col md:flex-row p-4">
      <!-- <div class="p-2 w-full md:w-1/3 flex items-center space-x-2">
        <label for="bigSize" class="text-gray-700 font-bold">
          Big Size?
        </label>
        <input
          type="checkbox"
          id="bigSize"
          [(ngModel)]="bigSize"
          class="border rounded focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
        />
      </div> -->
      <div class="p-2 w-full md:w-1/3 flex items-center space-x-2">
        <label for="visible" class="text-gray-700 font-bold">Visible?</label>
        <input
        type="checkbox"
        id="visible"
        [(ngModel)]="visible"
        class="border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500 focus:border-blue-500 w-6 h-6"
      />
      </div>
      <!-- <div class="p-2 w-full md:w-1/3 flex">
        <label for="franchise" class="text-gray-700 font-bold"
          >Franchise?</label
        >
        <input
          type="checkbox"
          id="franchise"
          [(ngModel)]="franchise"
          class="border rounded focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
        />
      </div> -->
    </div>
    <div class="flex flex-col md:flex-row p-4">
      <div class="p-2 w-full md:w-1/2">
        Age:
        <input
          type="number"
          id="age"
          [(ngModel)]="age"
          class="border border-gray-300 rounded-md p-2 w-full"
        />
      </div>
      <div class="p-2 w-full md:w-1/2">
        Original Price:
        <input
          type="number"
          id="price"
          [(ngModel)]="originalPrice"
          class="border border-gray-300 rounded-md p-2 w-full"
        />
      </div>
    </div>
    <div class="flex flex-col md:flex-row p-4">
      <div class="p-2 w-full md:w-1/2">
        Brand:
        <input
          type="text"
          pInputText
          [(ngModel)]="brand"
          class="border border-gray-300 rounded-md p-2 w-full"
        />
      </div>
      <div class="p-2 w-full md:w-1/2">
        Link:
        <input
          type="text"
          pInputText
          [(ngModel)]="link"
          class="border border-gray-300 rounded-md p-2 w-full"
        />
      </div>
    </div>
    <div class="flex flex-col md:flex-row p-4">
      <div class="p-2 w-full md:w-1/2">
        Quantity:
        <input
          type="number"
          id="Quantity"
          [(ngModel)]="quantity"
          class="border border-gray-300 rounded-md p-2 w-full"
        />
      </div>
      @if(product) {
      <div class="p-2 w-full md:w-1/2">
        <h2 class="text-lg font-semibold">
          Shop Quantity: {{ product.ShopQty }}
        </h2>
        <h2 class="text-lg font-semibold">
          Budget: {{ product["Membership Type"] }}
        </h2>
        <h2 class="text-lg font-semibold">Rent30: {{ product.rent30 }}</h2>
        <h2 class="text-lg font-semibold">Rent15: {{ product.rent15 }}</h2>
      </div>
      }
    </div>
    <div class="flex justify-center p-4">
      <button
        (click)="addOrEditProduct()"
        class="border border-gray-300 bg-blue-500 text-white rounded-md p-2 hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50"
      >
        @if (!editMode) { Add Product } @else() { Edit Product }
      </button>
    </div>
  </div>
</div>
<div>
  @if (product) {
  <app-product-quantity [product]="product"></app-product-quantity>
  }
</div>
