<div class="px-2 py-10">
  <div class="flex items-center bg-gray-100 p-3 rounded-lg shadow-md relative">
    <!-- Search Input -->
    <input
      pInputText
      type="text"
      [(ngModel)]="searchQuery"
      placeholder="Search..."
      class="w-full pr-10 p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
    />
    <button
      (click)="performSearch()"
      class="px-4 py-2 text-white bg-green-500 rounded-md hover:bg-red-600 transition-colors duration-200 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-opacity-50"
    >
      <i class="fas fa-search"></i>
    </button>
    <button
      (click)="clearSearch()"
      class="px-4 py-2 text-white bg-red-500 rounded-md hover:bg-red-600 transition-colors duration-200 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-opacity-50"
    >
    <i class="fa-solid fa-xmark"></i>
    </button>
  </div>

  <div class="flex justify-center p-2">
    <button
      (click)="addProduct()"
      class="px-6 py-2 text-white bg-green-500 rounded-lg font-semibold shadow-lg hover:bg-green-600 transition-colors duration-200 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-opacity-50"
    >
      Add Product
    </button>
  </div>
</div>
<div class="flex border-b mb-4">
  <button
    class="px-4 py-2 -mb-px font-semibold text-gray-800 border-b-2"
    [ngClass]="{
      'border-blue-500': selectedTab === 'all',
      'border-transparent': selectedTab !== 'all'
    }"
    (click)="selectTab('all')"
  >
    My Products
  </button>
</div>
<div>
  <app-switch (isOnChange)="onChange($event)"></app-switch>
  <div class="flex justify-between items-center p-3">
    <h2 class="text-xl font-semibold">Products ({{ products.length }})</h2>
    <app-products-filter
      [inputFilter]="inputFilter"
      (products$)="products = $event"
    ></app-products-filter>
  </div>
</div>
@if (loading) {
<app-loader></app-loader>
} @else { @if (products.length) {
<div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-6 gap-4">
  <div *ngFor="let product of products">
    <app-product [product]="product"></app-product>
  </div>
</div>
} @else {
<p>No products found</p>
} }
