<div class="bg-gray-100">
  <!-- Header -->
  <header class="bg-blue-500 text-white py-4">
    <div class="container mx-auto flex justify-between items-center">
      <h1 class="text-xl font-bold">Your Logo/Brand</h1>
      <!-- Navigation Links -->
      <nav>
        <ul class="flex space-x-4">
          <li><a [routerLink]="'/'" class="hover:text-gray-200">Home</a></li>
          <li>
            <a [routerLink]="'/products'" class="hover:text-gray-200"
              >Products</a
            >
          </li>
          <li>
            <a [routerLink]="'/orders'" class="hover:text-gray-200">Orders</a>
          </li>
          <li>
            <a [routerLink]="'/customers'" class="hover:text-gray-200">Customers</a>
          </li>
          <li>
            <a [routerLink]="'/stores'" class="hover:text-gray-200">Stores</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <!-- Body Content -->
  <div class="container mx-auto py-8">
    <router-outlet></router-outlet>
  </div>

  <!-- Footer -->
  <footer class="bg-gray-800 text-white py-4">
    <div class="container mx-auto text-center">
      <p>&copy; 2024 SkipCry Solutions Private Limited. All Rights Reserved.</p>
    </div>
  </footer>
</div>
